################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment_1/.vs
/Assignment_1/bin/Debug/net6.0
/Assignment_1/obj
/Advance Calculator
/Calculator
/CS_Assignment_2
/Minimal_API/.vs/Minimal_API
/WebAPICore/.vs/WebAPICore
